@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

/* Gurindam */
@font-face {
	font-family: Gurindam;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Gurindam.ttf') format('ttf');
}

/* Gurindam Bold */
@font-face {
	font-family: 'Gurindam Bold';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/GurindamTebal.ttf') format('ttf');
}

/* Gurindam Italic */
@font-face {
	font-family: 'Gurindam Italic';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/GurindamSerong.ttf') format('ttf');
}

/* Oceanside Typewriter */
@font-face {
	font-family: 'Oceanside Typewriter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/OceansideTypewriter.ttf') format('ttf');
}